body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #f0f0f0;
    font-family: 'UnfamiliarFont', sans-serif;
    /* background-image: url(https://tse2.mm.bing.net/th?id=OIP.V3gm23TzBF03WFuU2inAnwHaHa&pid=Api&P=0&h=220);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock {
    margin: 20px;
}

.analog-clock .clock-face {
    width: 350px;
    height: 350px;

    border: 15px solid rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 25px;
    background: rgba(255, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.xYZ0_oRbGp07Cr_htxajpQHaHa&pid=Api&P=0&h=220);
}
.analog-clock .clock-face:hover{
    transform: scale(1.2);
}


.hand {
    width: 30%;

    height: 5px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 20%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
   
}

.hour-hand {
    height: 6px;
    background: orangered;
    border-radius: 12px;
}

.minute-hand {
    height: 5px;
    background: rgb(99, 97, 97);
    border-radius: 12px;
}

.second-hand {
    height: 4px;
    background: green;
    border-radius: 12px;
}

.digital-clock {
    font-size: 2em;
    background: rgba(255, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.digital-clock:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}
